{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Profile" %}{% endblock %}

{% block content %}
    <div class="bg-default g-sidenav-show g-sidenav-pinned d-flex flex-column min-vh-100">
        <div class="main-content">
            <!-- Header -->
            <div class="header bg-gradient-primary section-shaped pb-7 pt-5 pb-lg-8 pt-lg-6">
                <div class="container">
                    <div class="header-body text-center mb-5">
                        <div class="row justify-content-center">
                            <div class="col-xl-5 col-lg-6 col-md-8 px-4">
                                <h1 class="text-white">Battle of Birds</h1>
                                <p class="text-lead text-white">HALL XI Final IBG!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="separator separator-bottom separator-skew zindex-100">
                    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
                    </svg>
                </div>
            </div>
            <!-- Page content -->
            <div class="container mt--8 pb-7 flex-grow-1">
                <div class="row justify-content-center">
                    <div class="col-lg-5 col-md-7">
                        <div class="card bg-secondary border-0 mb-0">
                            <div class="card-header bg-transparent px-lg-5 pt-5 pb-4">
                                <div class="row">
                                    <div class="col-3">
                                        <img src="{{ profile.get_avatar_url }}" alt="avatar" class="avatar avatar-lg img-raised">
                                    </div>
                                    <div class="col-9">
                                        <div class="text">
                                            <span class="name">{{ profile.extra_data.name }}</span>
                                            <div class="meta">{{ profile.extra_data.email }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-muted mt-3"><small>Not {{ profile.extra_data.email }}? <a href="/account/logout">Click here to logout</a>. </small></div>
                            </div>
                            <div class="card-body px-lg-5 pt-lg-3 pb-lg-4">

                                <div class="text-muted text-center mt-1 mb-3">Game Profile</div>
                                <form role="form" method='POST' enctype="multipart/form-data" id="profile-form">
                                    {%csrf_token%}
                                    <div class="form-group">
                                        {% if p_form.fullname.errors %}
                                            <label class="text-danger"><small>
                                                {% for error in p_form.fullname.errors %}
                                                    <li>{{ error|escape }}</li>
                                                {% endfor %}
                                            </small></label>
                                        {% endif %}
                                        <div class="input-group input-group-alternative mb-3 {% if p_form.fullname.errors %}has-danger{% endif %}">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                            </div>
                                            <input class="form-control {% if p_form.fullname.errors %}is-invalid{% endif %}" name="fullname" placeholder="Full Name" type="text" value="{{ p_form.fullname.value | default_if_none:'' }}">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        {% if p_form.matriculation_number.errors %}
                                            <label class="text-danger"><small>
                                                {% for error in p_form.matriculation_number.errors %}
                                                    <li>{{ error|escape }}</li>
                                                {% endfor %}
                                            </small></label>
                                        {% endif %}
                                        <div class="input-group input-group-alternative mb-3 {% if p_form.matriculation_number.errors %}has-danger{% endif %}">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="ni ni-badge"></i></span>
                                            </div>
                                            <input class="form-control {% if p_form.matriculation_number.errors %}is-invalid{% endif %}" name="matriculation_number" placeholder="Matriculation Number" type="text" value="{{ p_form.matriculation_number.value | default_if_none:'' }}">
                                        </div>
                                    </div>

                                    <label class="text-muted">Where do you stay?</label>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="input-group input-group-alternative {% if p_form.block.errors %}has-danger{% endif %}">
                                                    <select id="block-select" name="block" class="form-control {% if p_form.block.errors %}is-invalid{% endif %}">
                                                        <option disabled="" selected="" value="">Blk</option>
                                                        {% for val,name in p_form.block.field.choices %}
                                                            {% if name != "---------" %}
                                                                <option value="{{ val }}" >{{ name }}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="input-group input-group-alternative {% if p_form.level.errors %}has-danger{% endif %}">
                                                    <select name="level" class="form-control {% if p_form.level.errors %}is-invalid{% endif %}">
                                                        <option disabled="" selected="" value="">Lvl</option>
                                                        <option value="01" {% if p_form.level.value == '01' %}selected{% endif %}>01</option>
                                                        <option value="02" {% if p_form.level.value == '02' %}selected{% endif %}>02</option>
                                                        <option value="03" {% if p_form.level.value == '03' %}selected{% endif %}>03</option>
                                                        <option value="04" {% if p_form.level.value == '04' %}selected{% endif %}>04</option>
                                                        <option value="05" {% if p_form.level.value == '05' %}selected{% endif %}>05</option>
                                                        <option value="06" {% if p_form.level.value == '06' %}selected{% endif %}>06</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="input-group input-group-alternative {% if p_form.room_number.errors %}has-danger{% endif %}">
                                                    <input maxlength="8" class="form-control {% if p_form.room_number.errors %}is-invalid{% endif %}" name="room_number"placeholder="Room" type="text" value="{{ p_form.room_number.value | default_if_none:''}}" >
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {% if p_form.mobile.errors %}
                                            <label class="text-danger"><small>
                                                {% for error in p_form.mobile.errors %}
                                                    <li>{{ error|escape }}</li>
                                                {% endfor %}
                                            </small></label>
                                        {% endif %}
                                        <div class="input-group input-group-alternative mb-3 {% if p_form.mobile.errors %}has-danger{% endif %}">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="ni ni-mobile-button"></i></span>
                                            </div>
                                            <input id="test" class="form-control {% if p_form.mobile.errors %}is-invalid{% endif %}" name="mobile" placeholder="HP number" type="text" value="{{ p_form.mobile.value | default_if_none:''}}">
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary mt-4">Update</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
//Workaround for a django select render bug by selecting with js
{% if p_form.block.value  %}
    document.getElementById("block-select").value = "{{ p_form.block.value }}";
{% endif %}
 $('#profile-form').on('submit', function(event){

     if(!confirm("You will not be able to change your details after submitting, continue?")){
        event.preventDefault();
      }
 });
</script>
{% endblock %}