{% extends "core/base.html" %}
{% load thumbnail %}
{% load static %}
{% load i18n %}
{% block head_title %}{% trans "Home | HALL XI BoB" %}{% endblock %}
{% block extra_head %}
    <style>
        .visited-badge {
            top:6px;
            position:absolute;
            right:6px;
        }
        .owl-carousel .owl-stage{
            display: flex;
        }
    </style>
{% endblock %}
{% block body %}
    {#    <!-- App Header -->#}
    {#    <div class="appHeader bg-primary scrolled">#}
    {#        <div class="left">#}
    {#            <a href="#" class="headerButton" data-toggle="modal" data-target="#sidebarPanel">#}
    {#                <ion-icon name="menu-outline"></ion-icon>#}
    {#            </a>#}
    {#        </div>#}
    {#        <div class="pageTitle">#}
    {#            Home#}
    {#        </div>#}
    {#    </div>#}
    {#    <!-- * App Header -->#}

    <!-- Cover Image -->
    <img src="{% static "assets/img/bird-cover.gif" %}" class="img-fluid w-100" alt="Birds of Paradise Island">
    <!-- * Cover Image -->

    <!-- Block Info -->
    <div class="section mb-1" style="margin-top: -3em">
        <div class="card">
            <div class="card-body">
                <div>
                    <h6 class="card-subtitle">You belong to</h6>
                    <div class="d-flex justify-content-between align-items-end">
                        <h5 class="card-title mb-0 d-flex align-items-center justify-content-between">
                            Block {{ profile.block.name }}
                        </h5>
                        <div class="chip chip-media chip-info ml-05" style="margin-bottom: 0.2em">
                            <i class="chip-icon bg-dark">
                                <ion-icon name="person-outline" role="img" class="md hydrated" aria-label="person outline"></ion-icon>
                            </i>
                            <span class="chip-label">{{ total_member }}</span>
                        </div>
                    </div>

                    <p class="mt-1 mb-0"><b>Block HP:</b> {{ blk_hp.0 }} / {{ blk_hp.1 }}</p>
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: {% widthratio blk_hp.0 blk_hp.1 100 %}%;" aria-valuenow="{{ blk_hp.0 }}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

                    {% if is_phase2 %}
                        <p class="mt-1 mb-0"><b>Block Exploration:</b> {{ blk_exploration.0 }} / {{ blk_exploration.1 }}</p>
                        <div class="progress">
                            <div class="progress-bar bg-warning" role="progressbar" style="width: {% widthratio blk_exploration.0 blk_exploration.1 100 %}%;" aria-valuenow="{{ blk_exploration.0 }}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- * Block Info -->

    <!-- App Capsule -->
    <div id="appCapsule" class="" style="padding:0 0 56px 0; margin-top: -0.5em;">


        {% if is_phase2 %}
            <!-- Assigned Location Cards -->
            <div class="section full mt-3 mb-3">
                <div class="section-title">
                    <h2 class="mb-0">Daily Locations</h2>
                </div>
                <div class="content-header mb-2"><h5 class="text-muted">Scan QR code at these locations to gain points and get items for your hall. Locations will be refreshed daily.</h5></div>
                <div id="daily-locations" class="carousel-multiple owl-carousel owl-theme">
                    {% for assigned_location in assigned_locations %}
                        <div class="item h-100">
                            <div class="card h-100">
                                {% if assigned_location.has_visited %}
                                    <span class="badge visited-badge badge-success mb-1">visited</span>
                                {% endif %}
                                {% thumbnail assigned_location.location.image "870x660" crop="center" as im %}
                                    <img src="{{ im.url }}" class="card-img-top" alt="image">
                                {% endthumbnail %}
                                <div class="card-body pt-2">
                                    <h4 class="mb-0">{{ assigned_location.location.name }} </h4>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <!-- * Assigned Location Cards -->
        {% endif %}

        {% if is_phase2 %}
            <!-- Assigned Questions -->
            <div class="section full mt-3 mb-3">
                <div class="section-title">
                    <h2 class="mb-0">Unanswered Questions</h2>
                </div>
                {% if unanswered_questions %}
                    <ul class="listview link-listview">
                        {% for question in unanswered_questions %}
                            <li>
                                <a href="/question/{{ question.uuid }}">
                                    {{ question.question }}
                                    <span class="text-muted">Answer</span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p style="padding-left: 16px; padding-right: 16px">Hooray! You have answered all questions.</p>
                {% endif %}
            </div>
            <!-- * Assigned Questions -->
        {% endif %}

        <!-- Groom my room display -->
        <div class="section full mt-3 mb-3" id="submissions">
            <div class="d-flex justify-content-between align-items-end section-title">
                <div class="">
                    <h2 class="mb-0">Groom My Room</h2>
                </div>
                {% if is_phase2 %}
                    <div>
                        <a href="submission/new">Submit</a>
                    </div>
                {% endif %}
            </div>

            <div class="content-header mb-2"><h5 class="text-muted">Showcase your unique room design here and vote for your favourite designs by your hall mates. Every new submission from your block adds 100 HP.</h5></div>
            {% if my_submission %}
                <h5 class="mx-3">My submission:</h5>
                <ul class="listview image-listview media mb-2">
                    <li>
                        <a href="submission/{{ my_submission.id }}" class="item">
                            <div class="imageWrapper">
                                {% thumbnail my_submission.photo "320x180" crop="center" as im %}
                                    <img src="{{ im.url }}" alt="image" class="imaged w64">
                                {% endthumbnail %}
                            </div>
                            <div class="in">
                                <div>
                                    <div>
                                        {{ my_submission.title }}
                                        {% if not my_submission.has_reviewed %}
                                            <i> (Under review)</i>
                                        {% endif %}
                                    </div>
                                    <div class="text-muted">{{ my_submission.votes }} votes </div>
                                </div>
                                <span class="text-primary">View/Delete</span>
                            </div>
                        </a>
                    </li>
                </ul>
            {% endif %}
            <h5 class="mx-3">All submissions:</h5>
            <div class="wide-block pt-2 pb-2" style="padding-left:0; padding-right:0">
                <div class="mx-3">
                    <ul class="nav nav-tabs style1" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#latest-submissions" role="tab" aria-selected="true">
                                Latest
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#top-submissions" role="tab" aria-selected="false">
                                Top
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#random-submissions" role="tab" aria-selected="false">
                                Random
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content mt-2">
                    <div class="tab-pane fade active show" id="latest-submissions" role="tabpanel">
                        <ul class="listview image-listview media mb-2 vote-list">
                            {% for submission in photo_submissions %}
                                <li data-votes="{{ submission.votes }}">
                                    <a href="submission/{{ submission.id }}" class="item">
                                        <div class="imageWrapper">
                                            {% thumbnail submission.photo "320x180" crop="center" as im %}
                                                <img src="{{ im.url }}" alt="image" class="imaged w64">
                                            {% endthumbnail %}
                                        </div>
                                        <div class="in">
                                            <div>
                                                {{ submission.title }}
                                                <div class="text-muted">{{ submission.votes }} votes</div>
                                            </div>
                                            <span class="text-primary">View/Vote</span>
                                        </div>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="top-submissions" role="tabpanel">
                        <ul class="listview image-listview media mb-2 vote-list">
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="random-submissions" role="tabpanel">
                        <ul class="listview image-listview media mb-2 vote-list">
                        </ul>
                    </div>
                </div>

            </div>

        </div>
        <!-- * Groom my room display -->
        <div class="appFooter">
        <img src="https://cdn.kado.sg/themes/mobile/img/icon/72x72.png" alt="icon" class="footer-logo mb-2" style="height:50px">
        <div class="footer-title">
            Hall XI BoB
        </div>
        <div><a href="/intro">Game Introduction</a> | <a href="https://t.me/weixingp">Help</a> | <a href="https://github.com/weixingp/hallxi-qr-hunt">Project Repo</a></div>
        <div class="mt-1">© 27th Hall XI Council | Made with ♥ by Wei Xing</div>

    </div>
    </div>
    <!-- * App Capsule -->


    {#    {% include "core/sidebar.html" %}#}
    {% if is_phase2 %}
        {% include "core/menu.html" %}
    {% endif %}
{% endblock %}

{% block extra_script %}
    <script>
        window.onpageshow = function(event) {
            if (event.persisted) {
                window.location.reload();
            }
        };

        function handleVisibilityChange() {
            if(document.hidden) {
                // the page is hidden
            } else {
                window.location.reload();
            }
        }
        document.addEventListener("visibilitychange", handleVisibilityChange, false);

    </script>
    <script>
        window.blockMenuHeaderScroll = false;
        var classname = document.getElementsByClassName("owl-carousel");
        var dailyLocations = document.getElementById("daily-locations");
        var mc = new Hammer(dailyLocations);

        mc.on("swipeleft swiperight panleft panright", function(ev) {
            window.blockMenuHeaderScroll = true;
        });

        mc.on("panend swipeend", function (ev){
            window.blockMenuHeaderScroll = false;
        });

        mc.on("swipeup swipedown panup pandown", function(ev) {
            window.blockMenuHeaderScroll = false;
        });

        for (var i = 0; i < classname.length; i++) {
            classname[i].addEventListener('touchmove', function(evt) {
                if (blockMenuHeaderScroll && evt.cancelable) {
                    evt.preventDefault();
                }

            }, {
                passive: false
            });
        }
    </script>
    <script>
        // Add to home modal
        AddtoHome('3000', 'once');


        $( document ).ready(function (){
            let toSort = $("#latest-submissions > ul li").clone();
            let sorted = toSort.sort(function(a, b){
                return $(b).data('votes') - $(a).data('votes');
            });
            $('#top-submissions > ul').html(sorted);

        });

        $('a[href="#random-submissions"]').click(function (){

            let toSort2 = $("#latest-submissions > ul li").clone();
            let randomlySorted = toSort2.sort(function(a, b){
                return Math.round(Math.random()) - 0.5;
            });

            $('#random-submissions > ul').html(randomlySorted);

        });
    </script>
{% endblock %}