{% extends "core/base.html" %}
{% load static %}
{% load thumbnail %}
{% load i18n %}
{% block head_title %}{% trans "Loot box | HALL XI BoB" %}{% endblock %}
{% block extra_head %}
    <style>
        @import url(https://fonts.googleapis.com/css?family=Work+Sans:400,300,200,100);
        @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

        .card1 {
            position: relative;
            top: 10vh;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
            border-radius: 0.75em;
            padding: 0;
            transition: all 0.2s ease-in-out;
        }
        .card1:nth-child(even) {
            margin: 0 1em;
        }

        .card1-top {
            background: #ff6666;
            padding: 1em;
            border-top-left-radius: 0.75em;
            border-top-right-radius: 0.75em;
        }
        .card1-top .card1-img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            height: 20em;
            width: auto;
        }
        .card1-top .overlay {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            height: 17.75em;
            width: 100%;
            border-top-left-radius: 0.75em;
            border-top-right-radius: 0.75em;
            z-index: 10;
            background: rgba(0, 0, 0, 0.55);
            overflow: hidden;
            transition: all 700ms ease;
            opacity: 0;
        }
        .card1-top .overlay h1 {
            text-align: center;
            font-weight: 500;
            color: #fff;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
        .card1-top .overlay:hover, .card1-top .overlay:focus {
            opacity: 1;
        }

        .triangle {
            position: relative;
            height: 0;
            width: 0;
            border-left: 1.5em solid transparent;
            border-right: 1.5em solid transparent;
            border-top: 1.5em solid #B2DCE5;
            margin: 0 auto -1.75em auto;
            top: -0.25em;
            z-index: 20;
        }

        .card1-middle {
            display: none;
            background-color: #FFFFFF;
        }
        .card1-middle .more {
            font-weight: 400;
        }

        .card1-bottom {
            background: #f7f7f7;
            padding: 1.75em 1em 1em 1em;
            border-bottom-left-radius: 0.75em;
            border-bottom-right-radius: 0.75em;
        }
        .card1-bottom .card1-title {
            font-weight: 100;
        }

        .circle-button {
            position: absolute;
            bottom: 0;
            right: -1.5em;
            width: 70px;
            height: 70px;
            font-size: 1.5em;
            color: #fff;
            background: #fff;
            border: none;
            border-radius: 50%;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.275);
            outline: none;
            cursor: pointer;
            transition: all 300ms ease;
        }
        .circle-button .close {
            transition: transform 400ms ease;
        }
        .circle-button:hover {
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.275);
        }

        .closeRotate {
            transform: rotate(45deg);
        }

    </style>
{% endblock %}
{% block body %}
    <!-- App Header -->
    <div class="appHeader bg-primary text-light">
        <div class="left">
            <a href="/inventory" class="headerButton goBack">
                <ion-icon name="chevron-back-outline"></ion-icon>
            </a>
        </div>
        <div class="pageTitle">
            Loot box
        </div>
    </div>
    <!-- * App Header -->

    <!-- App Capsule -->
    <div id="appCapsule" class="full-height pt-2">
        {% if count %}
            <div class="text-center">
                <div class="container-fluid">
                    <div class="card1">
                        <div class="card1-top" id="loot-box-img">
                            <div  style="position: absolute; top: 9em; width: 100%; right:0em">
                                <h1 id="total-item-text" class="text-light" style="position: relative;text-align: center; display:none;"></h1>
                            </div>
                            <img class="card1-img"  src="https://cdn.kado.sg/images/lootbox.jpg" data-alt="https://cdn.kado.sg/images/lootbox.gif" /></div>
                        <div class="triangle">
                            <div class="circle-button" id="open-box">
                                <div class="text-primary" style="font-size: 1.5em; position: relative; top:0.5em">
                                    <ion-icon name="key-outline"></ion-icon>
                                </div>

                            </div>
                        </div>
                        <div class="card1-middle py-2" id="card-list">

                        </div>
                        <div class="card1-bottom text-center">
                            <h2 class="card1-title">Open {{ count }} loot box(es)</h2>
                            <p class="mb-0">Common: 60% | Rare: 31% </p>
                            <p>Super Rare: 8% | Legendary: 1%</p>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <!-- Error display -->
            <div id="error-display" class="error-page mt-5">
                <div class="icon-box text-danger">
                    <ion-icon name="alert-circle"></ion-icon>
                </div>
                <h1 class="title">Error</h1>
                <div id="error-text" class="text mb-5">You don't have any loot boxes.</div>

                <div class="fixed-footer">
                    <div class="row">
                        <div class="col-12">
                            <a href="/" class="btn btn-primary btn-lg btn-block">Home</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- * Error display -->
        {% endif %}
    </div>

    <!-- Error dialogue -->
    <div class="modal fade dialogbox" id="error-dialogue" data-backdrop="static" tabindex="-1" aria-hidden="true" style="display: none;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-icon text-danger">
                    <ion-icon name="close-circle" role="img" class="md hydrated" aria-label="close circle"></ion-icon>
                </div>
                <div class="modal-header">
                    <h5 class="modal-title">Error</h5>
                </div>
                <div class="modal-body" id="error-dialogue-message">
                    This is a dialog message
                </div>
                <div class="modal-footer">
                    <div class="btn-inline">
                        <a href="/" class="btn">HOME</a>
                        <a href="/lootbox" class="btn btn-text-primary">RETRY</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- * Error dialogue -->
{%  endblock %}
{% block extra_script %}
    <script>
        var getGif = function() {
            var gif = [];
            $('img').each(function() {
                var data = $(this).data('alt');
                gif.push(data);
            });
            return gif;
        }
        var gif = getGif();

        // Preload all the GIF.
        var image = [];

        $.each(gif, function(index) {
            image[index]     = new Image();
            image[index].src = gif[index];
        });

        $('#open-box').one('click', function() {
            $(this).html(`<div class="spinner-border text-danger" role="status" style="position: relative;top: 0.8em;"></div>`);

            setTimeout(function(){
                $('.card1-middle').slideToggle();
                $("#total-item-text").fadeIn( "slow", function() {});
                $('.card1-title').html(`<a href='/inventory'>View in inventory</a>`);
                $("#open-box").html(`<div class="text-dark" style="font-size: 1.5em; position: relative; top:0.5em"><ion-icon name="lock-open-outline"></ion-icon></div>`);
            }, 3500);

            // Check the image to gif
            var $this   = $("#loot-box-img"),
                $index  = $this.index(),
                $img    = $this.children('img'),
                $imgSrc = $img.attr('src'),
                $imgAlt = $img.attr('data-alt'),
                $imgExt = $imgAlt.split('.');

            if($imgExt[1] === 'gif') {
                $img.attr('src', $img.data('alt')).attr('data-alt', $imgSrc);
            } else {
                $img.attr('src', $imgAlt).attr('data-alt', $img.data('alt'));
            }

            // Request the server
            $.ajax({
                url: '/action/open-lootbox',
                type: 'GET',
                dataType: 'json',
                success: function(data) {
                    if (data.success){
                        $("#total-item-text").text("You got " + data.items.length + " item(s)")



                        let list = `<ul class="listview image-listview" style="border-top: 0; border-bottom: 0">`;
                        $.each(data.items, function( index, item ) {
                            let chip;
                            switch(item.rarity){
                                case "Rare":
                                    chip = "chip-danger";
                                    break;
                                case "Common":
                                    chip = "chip-success";
                                    break;
                                case "Super Rare":
                                    chip = "chip-info"
                                    break;
                                case "Legendary":
                                    chip = "chip-warning"
                                    break;
                            }
                            list += `
                            <li>
                                <div class="item">
                                    <img src="${item.image}" alt="image" class="" style="width: 64px; height: 49px; margin-right: 0.5em">
                                    <div class="in">
                                        <div>${item.name}</div>
                                        <div class="chip ${chip} ml-05 mb-05">
                                            <span class="chip-label">${item.rarity}</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            `
                        });
                        $("#card-list").html(list + "</ul>")
                    } else {
                        $("#error-dialogue-message").text(data.message)
                        $("#error-dialogue").modal('show');
                    }
                },
                error: function (err){
                    let msg = "Something went wrong, please try again later or get help in game chat.";
                    $("#error-dialogue-message").text(msg)
                    $("#error-dialogue").modal('show');
                }
            });
        });
    </script>
{% endblock %}
