{% extends "core/base.html" %}
{% load static %}
{% load thumbnail %}
{% load i18n %}
{% block head_title %}{% trans "Groom My Castle | HALL XI BoB" %}{% endblock %}
{% load account socialaccount %}

{% block body %}
    <!-- App Header -->
    <div class="appHeader bg-primary text-light">
        <div class="left">
            <a href="/#submissions" class="headerButton goBack">
                <ion-icon name="chevron-back-outline"></ion-icon>
            </a>
        </div>
        <div class="pageTitle">
            Groom My Castle
        </div>
    </div>
    <!-- * App Header -->

    <!-- App Capsule -->
    <div id="appCapsule" class="full-height">
        {% if submission %}
            <div style="max-width: 500px; margin: auto; text-align: center;">

                <div class="section mt-4" id="photos">
                    <div class="carousel-single-no-loop owl-carousel owl-theme">
                        {% for photo in submission.get_photos %}
                            {% if photo %}
                                <div class="item">
                                    {% thumbnail photo "800x450" crop="center" as im %}
                                        <img src="{{ im.url }}" alt="image" class="imaged rounded-lg w-100">
                                    {% endthumbnail %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>

                </div>
                <div class="section mt-1">
                    <h2>{{ submission.title }}</h2>
                    <h2 class="text-muted">
                        Submitted by {{ submission.user.profile.fullname }}
                        {% if user == submission.user %}
                        (delete)
                        {% endif %}
                    </h2>
                </div>
                <div class="section full mb-2 text-left">
                    <div class="section-title">Comments</div>
                    <div class="wide-block pt-2 pb-2">
                        <div class="border-bottom mb-1">
                            <form id="comment">
                                {% csrf_token %}
                                <input type="hidden" name="submission" value="{{ submission.id }}">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="avatar" class="imaged w64 rounded mr-2">
                                    </div>
                                    <div>
                                        <p class="mb-0">Post comment</p>
                                        <textarea name="comment" class="form-control" style="font-size: 14px;" cols="40" maxlength="500"></textarea>
                                        <button type="submit" class="btn btn-primary btn-sm mt-1 mb-2" id="comment-submit">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <!-- comment block -->
                        <div class="comment-block">
                            {% for comment in comments %}
                            <!--item -->
                            <div class="item">
                                <div class="avatar">
                                    <img src="{{ comment.user.socialaccount_set.all.0.get_avatar_url }}" alt="avatar" class="imaged w32 rounded">
                                </div>
                                <div class="in">
                                    <div class="comment-header">
                                        <h4 class="title">{{ comment.user.profile.fullname }}</h4>
                                        <span class="time">{{ comment.time|date:'Y-m-d H:i' }}</span>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="text">
                                            {{ comment.comment }}
                                        </div>
                                        <div {% if comment.user != user %} style="visibility: hidden;" {% endif %}>
                                            <form class="delete-comment">
                                                {% csrf_token %}
                                                <input type="hidden" name="comment_id" value="{{ comment.id }}">
                                                <a href="javascript:{}" class="text-primary mb-0 ml-1">delete</a>
                                            </form>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- * item -->
                            {% endfor %}
                        </div>
                        <!-- * comment block -->

                    </div>


                </div>
                <div class="fixed-footer border-top" style="background: #f9f9f9;">
                    <div class="row">
                        <div class="col-6">
                            {% if not upvote %}
                                <form id="vote">
                                    {% csrf_token %}
                                    <input type="hidden" name="submission" value="{{ submission.id }}" />
                                    <button type="submit" class="btn btn-info btn-lg btn-block" id="vote-submit">Vote</button>
                                </form>

                            {% else %}
                                <button class="btn btn-info btn-lg btn-block" disabled>Voted</button>
                            {% endif %}
                        </div>
                        <div class="col-6">
                            <button class="btn btn-primary btn-lg btn-block" id="share">Share</button>
                        </div>
                    </div>
                </div>
            </div>

        {% else %}
            <!-- Error display -->
            <div id="error-display" class="error-page">
                <div class="icon-box text-danger">
                    <ion-icon name="alert-circle"></ion-icon>
                </div>
                <h1 class="title">Error</h1>
                <div id="error-text" class="text mb-5">{{ message }}</div>

                <div class="fixed-footer">
                    <div class="row">
                        <div class="col-6">
                            <a href="/" class="btn btn-secondary btn-lg btn-block">Home</a>
                        </div>
                        <div class="col-6">
                            <a href="." class="btn btn-primary btn-lg btn-block">Try Again</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- * Error display -->
        {% endif %}

    </div>

    <!-- Error dialogue -->
    <div class="modal fade dialogbox" id="error-dialogue" data-backdrop="static" tabindex="-1" aria-hidden="true" style="display: none;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-icon text-danger">
                    <ion-icon name="close-circle" role="img" class="md hydrated" aria-label="close circle"></ion-icon>
                </div>
                <div class="modal-header">
                    <h5 class="modal-title">Error</h5>
                </div>
                <div class="modal-body" id="error-dialogue-message">
                    This is a dialog message
                </div>
                <div class="modal-footer">
                    <div class="btn-inline">
                        <a href="#" class="btn" data-dismiss="modal">CLOSE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- * Error dialogue -->

    <!-- Success dialogue -->
    <div class="modal fade dialogbox" id="success-dialogue" data-backdrop="static" tabindex="-1" aria-hidden="true" role="dialog" aria-modal="true" style="display: none;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-icon text-success">
                    <ion-icon name="checkmark-circle" role="img" class="md hydrated" aria-label="checkmark circle"></ion-icon>
                </div>
                <div class="modal-header">
                    <h5 class="modal-title">Success</h5>
                </div>
                <div class="modal-body">
                    Your vote has been casted. Submit your own Groom My Castle photo if you have not done so!
                </div>
                <div class="modal-footer">
                    <div class="btn-inline">
                        <a href="#" class="btn" data-dismiss="modal">CLOSE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- * Success dialogue -->

    <!-- Share dialogue -->
    <div class="modal fade dialogbox" id="share-dialogue" data-backdrop="static" tabindex="-1" aria-hidden="true" role="dialog" aria-modal="true" style="display: none;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-icon text-primary">
                    <ion-icon name="share-social-outline" role="img" class="md hydrated" aria-label="checkmark circle"></ion-icon>
                </div>
                <div class="modal-body mt-2">
                    <p class="mb-1">Share the link below with your friends to get more votes.</p>
                    <p class="text-muted">*They must be from Hall 11 to participate (Registration needed)</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <input type="text" class="form-control" id="share-link" value="">
                        </div>
                        <div>
                            <p class="text-primary mb-0 pl-1" id="copy-link">Copy</p>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="btn-inline">
                        <a href="#" class="btn" data-dismiss="modal">CLOSE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- * Share dialogue -->
{% endblock %}
{% block extra_script %}
    <script>
        $('#share').click(function (){
            $('#share-link').val(window.location.href)
            $('#share-dialogue').modal('show');
        })

        $('#copy-link').click(function (){
            var copyText = document.getElementById("share-link");
            /* Select the text field */
            copyText.select();
            copyText.setSelectionRange(0, 99999); /*For mobile devices*/
            /* Copy the text inside the text field */
            document.execCommand("copy");
            $('#copy-link').text('Copied!');
        })

        $('#share-dialogue').on('hidden.bs.modal', function () {
            $('#copy-link').text('Copy');
        })

        $('#vote').on('submit', function (e) {
            e.preventDefault();
            $("#vote-submit").prop('disabled', true).text("Voting...");

            $.ajax({
                url: '/action/vote',
                type: 'POST',
                data: $('#vote').serialize(),
                success: function(data) {
                    if (data.success){
                        $("#success-dialogue").modal('show');
                        $("#vote-submit").text("Voted");
                    } else {
                        $("#vote-submit").prop('disabled', false).text("Vote");
                        $("#error-dialogue-message").text(data.message)
                        $("#error-dialogue").modal('show');
                    }
                },
                error: function (err){
                    $("#vote-submit").prop('disabled', false).text("Vote");
                    let msg = "Something went wrong, please try again later or get help in game chat.";
                    $("#error-dialogue-message").text(msg)
                    $("#error-dialogue").modal('show');
                }
            });
        })

        $('#comment').on('submit', function (e) {
            e.preventDefault();
            $("#comment-submit").prop('disabled', true).text("Commenting...");

            $.ajax({
                url: '/action/comment',
                type: 'POST',
                data: $('#comment').serialize(),
                success: function(data) {
                    $("#comment-submit").prop('disabled', false).text("Submit");
                    if (data.success){
                        let html = `
                            <div class="item">
                                <div class="avatar">
                                    <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="avatar" class="imaged w32 rounded">
                                </div>
                                <div class="in">
                                    <div class="comment-header">
                                        <h4 class="title">{{ user.profile.fullname }}</h4>
                                        <span class="time">Just now</span>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="text">
                                            ${$("#comment textarea[name='comment']").val()}
                                        </div>
                                        <div>
                                            <form class="delete-comment">
                                                {% csrf_token %}
                                                <input type="hidden" name="comment_id" value="${data.message}">
                                                <a href="javascript:{}" class="text-primary mb-0 ml-1">delete</a>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        `
                        $('.comment-block').prepend(html)
                        $("#comment textarea[name='comment']").val('');
                    } else {
                        $("#error-dialogue-message").text(data.message)
                        $("#error-dialogue").modal('show');
                    }
                },
                error: function (err){
                    $("#comment-submit").prop('disabled', false).text("Submit");
                    let msg = "Something went wrong, please try again later or get help in game chat.";
                    $("#error-dialogue-message").text(msg)
                    $("#error-dialogue").modal('show');
                }
            });
        })

        $('.comment-block').on('click', '.delete-comment > a', function (e) {
            e.preventDefault();
            if (!confirm('Do you want to delete this comment?')){
                return;
            }

            $(this).text("deleting...");
            let selected = $(this);
            $.ajax({
                url: '/action/delete-comment',
                type: 'POST',
                data: $(this).closest('form').serialize(),
                success: function(data) {
                    if (data.success){
                        selected.closest('.item').remove();
                    } else {
                        selected.text("delete");
                        $("#error-dialogue-message").text(data.message)
                        $("#error-dialogue").modal('show');
                    }
                },
                error: function (err){
                    selected.text("delete");
                    let msg = "Something went wrong, please try again later or get help in game chat.";
                    $("#error-dialogue-message").text(msg)
                    $("#error-dialogue").modal('show');
                }
            });
        })
    </script>
    <script>
        window.blockMenuHeaderScroll = false;
        var classname = document.getElementsByClassName("owl-carousel");
        var dailyLocations = document.getElementById("photos");
        var mc = new Hammer(dailyLocations);

        mc.on("swipeleft swiperight panleft panright", function(ev) {
            window.blockMenuHeaderScroll = true;
        });

        mc.on("panend swipeend", function (ev){
            window.blockMenuHeaderScroll = false;
        });

        mc.on("swipeup swipedown panup pandown", function(ev) {
            window.blockMenuHeaderScroll = false;
        });

        for (var i = 0; i < classname.length; i++) {
            classname[i].addEventListener('touchmove', function(evt) {
                if (blockMenuHeaderScroll && evt.cancelable) {
                    evt.preventDefault();
                }

            }, {
                passive: false
            });
        }
    </script>
{% endblock %}

