{% extends "core/base.html" %}
{% load static %}
{% load i18n %}
{% block head_title %}{% trans "Scan QR | HALL XI BoB" %}{% endblock %}
{% block extra_head %}
    <style>
        canvas#buffer {
            display: none; /* for per-frame data copying */
        }

        canvas#overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        video#video0 {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    </style>
{% endblock %}
{% block body %}
    <!-- App Header -->
    <div class="appHeader bg-primary text-light">
        <div class="left">
            <a href="javascript:;" class="headerButton goBack">
                <ion-icon name="chevron-back-outline"></ion-icon>
            </a>
        </div>
        <div class="pageTitle">Scan QR</div>
        <div class="right">
        </div>
    </div>
    <!-- * App Header -->

    <!-- App Capsule -->
    <div id="appCapsule" class="full-height">
        <h1>jsQR Demo</h1>
        <canvas id="buffer"></canvas>
        <video id="video0" playsinline autoplay></video>
        <canvas id="overlay"></canvas>
        <div id="output" hidden>
            <div id="outputMessage">No QR code detected.</div>
            <div hidden><b>Data:</b> <span id="outputData"></span></div>
        </div>
    </div>
    <!-- * App Capsule -->
{% endblock %}
{% block extra_script %}
    <script src="{% static 'assets/js/plugins/jsQR/jsQR.js' %}"></script>
    <script>
        window.onload = () => {
            const video = document.querySelector('video#video0')
            const buffer = document.querySelector('canvas#buffer')
            const overlay = document.querySelector('canvas#overlay')
            var outputContainer = document.getElementById("output");
            var outputMessage = document.getElementById("outputMessage");
            var outputData = document.getElementById("outputData");
            const overlayCtx = overlay.getContext('2d')
            const bufferCtx = buffer.getContext('2d')
            let videoTick = null
            let bounds = null

            const tick = () => {
                if (video.readyState === video.HAVE_ENOUGH_DATA) {
                    overlay.height = video.videoHeight
                    overlay.width = video.videoWidth
                    buffer.height = video.videoHeight
                    buffer.width = video.videoWidth
                    // hack the element size
                    if (video.videoWidth / video.videoHeight < video.offsetWidth / video.offsetHeight) {
                        overlay.style.height = video.offsetHeight + 'px'
                        overlay.style.width = (video.videoWidth / video.videoHeight * video.offsetHeight) + 'px'
                        overlay.style.left = (video.offsetWidth - video.videoWidth / video.videoHeight * video.offsetHeight) / 2 + 'px'
                    } else if (video.videoWidth / video.videoHeight > video.offsetWidth / video.offsetHeight) {
                        overlay.style.width = video.offsetWidth + 'px'
                        overlay.style.height = (video.videoHeight / video.videoWidth * video.offsetWidth) + 'px'
                        overlay.style.width = (video.offsetWidth - video.videoHeight / video.videoWidth * video.offsetWidth) / 2 + 'px'
                    }
                    bufferCtx.drawImage(video, 0, 0, buffer.width, buffer.height)
                    const imageData = bufferCtx.getImageData(0, 0, buffer.width, buffer.height)

                    // Call bounding box drawing here!
                    if (bounds !== null) {
                        overlayCtx.beginPath()
                        overlayCtx.moveTo(bounds.topLeftCorner.x, bounds.topLeftCorner.y)
                        overlayCtx.lineTo(bounds.topRightCorner.x, bounds.topRightCorner.y)
                        overlayCtx.lineTo(bounds.bottomRightCorner.x, bounds.bottomRightCorner.y)
                        overlayCtx.lineTo(bounds.bottomLeftCorner.x, bounds.bottomLeftCorner.y)
                        overlayCtx.lineTo(bounds.topLeftCorner.x, bounds.topLeftCorner.y)

                        overlayCtx.stroke()
                    } else {
                        overlayCtx.clearRect(0, 0, overlay.width, overlay.height)
                    }
                    try {
                        var code = jsQR(imageData.data, imageData.width, imageData.height, {
                            inversionAttempts: 'dontInvert'
                        })
                        if (code) {
                            drawLine(code.location.topLeftCorner, code.location.topRightCorner, "#FF3B58");
                            drawLine(code.location.topRightCorner, code.location.bottomRightCorner, "#FF3B58");
                            drawLine(code.location.bottomRightCorner, code.location.bottomLeftCorner, "#FF3B58");
                            drawLine(code.location.bottomLeftCorner, code.location.topLeftCorner, "#FF3B58");
                            outputMessage.hidden = true;
                            outputData.parentElement.hidden = false;
                            outputData.innerText = code.data;
                        } else {
                            outputMessage.hidden = false;
                            outputData.parentElement.hidden = true;
                        }

                        // Update detected QR boundary here
                        bounds = code === null ? null : code.location
                    } catch (err) {
                        console.log(err)
                    }

                }
                // trampoline
                window.requestAnimationFrame(videoTick)
            }

            videoTick = tick

            // set up video stream

            if (typeof navigator.mediaDevices !== 'undefined') {
                navigator.mediaDevices.getUserMedia({
                    audio: false,
                    video: {
                        facingMode: { facingMode: 'environment' },
                    }
                }).then(stream => {
                    video.srcObject = stream
                    video.onloadedmetadata = () => {
                        window.requestAnimationFrame(videoTick)
                    }
                })
            }
        } // end of window.onload
    </script>
{% endblock %}